body{
    margin: 0px;   
    font-family: Arial, Helvetica, sans-serif;
}
.mainBody{
  width: 100%;
  height: 2700px;
  display: flex;
  flex-direction: column;
}
header{
    width: 100%;
    height: 2%;
    background: rgb(251, 248, 248);
    display: flex;   
}
.mcontent{
    width: 100%;
    height:15%;
    background: orange;
}

.logo{
    margin-top: .3%;
    margin-left: 2%;
    width: 3%;
    height: 83%;
    border-radius: 15px;
    
}
.str-icon{
    margin-top: 1%;
    margin-left: 3% ;
    color:orange;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
   
}
.c-icon{
    margin-top: 1%;
    margin-left: 3%;
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    transition: color 0.3s;
   
}

.disc{
    margin-top: 1%;
    margin-left: 20%;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-style: normal;
    font-size: larger;
    transition: color 0.3s;
    
}
.sup{
    margin-top: 1%;
    margin-left: 3%;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-style: normal;
    font-size: larger;
    transition: color 0.3s;
   
}
.h-btn{
    margin-top: .5%;
    margin-left: 3%;
    font-size: x-large;
    border-radius: 20px;
    cursor: pointer;
    height: 73%;
    border: 0px;
    background-color: transparent;
}
.fa-cart-shopping{
    margin-top: 1%;
    margin-left: 3%;
    font-size:x-large;
    cursor: pointer;
}
.fa-user{
    margin-top: 1%;
    margin-left: 3%;
    font-size:x-large;
    cursor: pointer;
}
#fimg{
    width: 100%;
    height: 100%;
   
}
.fmob{
    left: 10%;
    bottom: 87%;
    color: black;
    position: relative;
}
.fmobd{
    left: 10%;
    bottom: 91%;
    color: black;
    position: relative;
    font-size: x-large;
    
}
.btn1{
    left: 10%;
    bottom: 93%;
    background-color: black;
    position: relative;
    color: azure;
    border-radius: 10px;
    width: 8%;
    height: 35px;
    cursor: pointer;
    font-size: large;
}
.c-icon:hover{
    color: orange;
}

.disc:hover{
    color: orange;
}
.sup:hover{
  color: orange;
}

.m2content{
    margin-top: 4%;
    margin-left: 10%;
    width: 80%;
    height: 6%;
    background-color: black;
}
.m2img{
    height: 100%;
    width: 100%;

}
.anreturn{
    position: relative;
    bottom: 5.5em;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
.shopn{
    background: black;
    color: azure;
    border-radius: 12px;
    width: 10%;
    height: 22%;
    cursor: pointer;
    position: relative;
    bottom: 13em;
    left: 10%;
}
.m3content{
    margin-top: 4%;
    margin-left: 10%;
    width: 80%;
    height: 6%; 
    background-color: black;

}
.m3img{
    width: 100%;
    height: 100%;
}
.m3h{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    position: relative;
    bottom: 5em;
    left: 10%;
}
.m3p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    position: relative;
    bottom:10em;
    left: 10%;
}
.m3btn{
    background: black;
    color: azure;
    border-radius: 12px;
    width: 10%;
    height: 22%;
    cursor: pointer;
    position: relative;
    bottom: 14em;
    left: 10%;
}
.m4content{
    margin-top: 4%;
    margin-left: 10%;
    width: 80%;
    height: 6%;
    background-color: black;
}
.m4img{
    width: 100%;
    height: 100%;
}
.m4h{
    font-size: xx-large;
    position: relative;
    bottom: 5em;
    left: 10%;

}
.m4p{
    position: relative;
    bottom: 10em;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.m4btn{
    position: relative;
    bottom:14em ;
    left: 10%;
    background: black;
    color: azure;
    border-radius: 12px;
    width: 10%;
    height: 22%;
    cursor: pointer;
}
.m5content{
    margin-top: 4%;
    margin-left: 10%;
    width: 80%;
    height: 7%;
    background-color: black;
}
.m5img{
    width: 100%;
    height: 100%;
}
.m5h{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    position: relative;
    bottom: 5.5em;
    left: 10%;
}
.m5p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    position: relative;
    bottom: 10.5em;
    left: 10%;
}
.m5btn{
  position: relative;
  bottom: 15em;
  left: 10%;
    background: black;
    color: azure;
    border-radius: 12px;
    width: 10%;
    height: 22%;
    cursor: pointer;
}
.m6content{
    margin-top: 4%;
    margin-left: 10%;
    width: 80%;
    height: 7%;
    background-color: black;   
}
.m6img{
    width: 100%;
    height: 100%;
}
.m6h{
   position: relative;
   bottom: 6em;
   left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
.m6p{
   position: relative;
   bottom: 12em;
   left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.m6btn{
   position: relative;
   bottom: 12em;
   left: 10%;
    background: black;
    color: azure;
    border-radius: 12px;
    width: 16%;
    height: 27%;
    cursor: pointer;
    margin-top: -1%;
    font-weight: 400;
    font-size: large;
}
.m7content{
    margin-top: 4%;
    margin-left: 10%;
    width: 80%;
    height: 6%;
    background-color: black;  
}
.m7img{
    width: 100%;
    height: 100% ;
}
.m8m{
    margin-top: 4%;
    margin-left: 10%;
    width: 80%;
    height:10%;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
.m8b{
    width: 23%;
    background-color: rgb(255, 255, 255);
    
}

.pad{
    position: relative;
    bottom: 33%;
    left: 55%;
    width: 37%;
    height: 45%;
}
.m8bh{
    margin-left: 14%;
    margin-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}
.m8bp1{
    bottom: 4%;
    left: 14%;
    border: 1px solid orange;
    color: orange;
    border-radius: 5px;
    display: inline;
    position: relative;
}
.m8bp2{
    position: relative;
    top: 26%;
    left: 15%;
    font-size: larger;
}
.m8bh2{
    display: inline;
    position: relative;
    top: 20%;
    left: 10%;
    font-size: x-large;
}
.delp{
    position: relative;
    font-size: medium;
    color: #898989;
    top: 15%;
    left: 11%;
}
.tvimg{
    position: relative;
    bottom: 23%;
    left: 42%;
    width: 57%;
    height: 42%;
}
.smair{
    position: relative;
    top: 5%;
    left: 60%;
    width: 28%;
    height: 45%;
}

.m8b3p2{
    display: inline;
    position: relative;
    top: 31%;
    right: 6%;
    font-size: larger;

}
.m8b3h2{
    display: inline;
    position: relative;
    top: 41%;
    right: 28%;
    font-size: x-large;


}
.delpb3{
    display: inline;
    position: relative;
    font-size: medium;
    color: #898989;
    top: 50%;
    right: 54%;
}
.buds{
    position: relative;
    bottom: 36%;
    left: 46%;
    width: 50%;
    height: 51%;
}
footer{
    margin-left: 0%;
    margin-top: 2%;
    width: 102%;
    height: 21%;
    background-color: #161313;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 82% 18%;
    grid-template-areas: "f1 f2"
                          "f3 f3";
}
.f1{
    height: 82%;
    padding-left: 2%;
    grid-area: f1;
}
.f2{
    height: 82%;
    background-color: #161313;
    padding-left: 2%;
    grid-area: f2;
}
.f3{
    border-top: 1px solid white;
    grid-area: f3;
    display: flex;
}
.f1-h{
   
   width: 100%;
    color: aliceblue;
}
.f1-p{
   
    width: 100%;
    color: rgba(240, 248, 255, 0.679);
}
.fa-square-facebook{
    color: #d0d0d0;
    margin-left:0%;
    margin-top: 0%;
    font-size: x-large;
}
.fa-square-x-twitter{
    color: #d0d0d0;
    margin-left:3%;
    margin-top: 0%;
    font-size: x-large;
}
.fa-square-instagram{
    color: #d0d0d0;
    margin-left:3%;
    margin-top: 0%;
    font-size: x-large;
}
.email{
    width: 82%;
    height: 10%;
    border-radius: 500px;
    font-style: normal;
    padding-left: 5%;
    font-size: large;
    background-color:#161313 ;
    color: aliceblue;
}
.gtbtn{
    margin-left: -13%;
    margin-top: 2%;
    width: 10%;
    height: 9%;
    color: white;
    background-color: #161313 ;
    border-radius: 500px;
    border: none;
}
.f2b1{
    margin-top: 4%;
    margin-left: 3%;
    width: 82%;
    height: 41%;
    border: 1px solid white;
    border-radius: 10px; 
}
.f2b2{
    width: 100%;
    height: 26%;
    border: 1px solid white;
    border-radius: 10px;
    padding-top: 5%;
    position: relative;
    bottom: 45%;
}
.qr{
    margin-top: 2%;
    margin-left: 3%;
    width: 19%;
    height: 42%;
    float: left;
}
.f2-h{
    text-align: center;
    width: 100%;
    color: aliceblue;
}
.f2-p{
    display: inline-block;
    width: 100%;
    color: rgba(240, 248, 255, 0.679);
    position: relative;
    bottom: 32%;
    left: 25%;
}
.play{
   
    margin-left: 9%;
    width: 8%;
    height: 50%;
    float: left;
}
.play-h{
    margin-top: 5%;
    margin-left: 9%;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: azure;
}
hr{
    width: 104%;
}
.cpr{
    margin-left: 1%;
    margin-top: 2%;
   font-size: medium;
   color: aliceblue;
   
}
.site{
    margin-top: 2%;
    margin-left: 9%;
    text-decoration: none;
    font-size: medium;
    color: azure;
    cursor: pointer;
}
.india{
    margin-top: 2%;
    margin-left: 42%;
    text-decoration: none;
    font-size: medium;
    color: azure;
    font-size: medium;
}
.fa-globe{
    color: #d0d0d0;
    margin-left: 1%;
    margin-top: 2%;
    font-size: large

}
.site:hover{
    text-decoration: underline;
}
.india:hover{
    text-decoration: underline;
}
